.space {
    background: url(../images/space.png) no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

body, html {
    margin: 0;
    height: 100%;
}

.planet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
    z-index: 2;
}

.rocket {
    position: absolute;
    height: 15%;
    bottom: 23%;
    left: 18%;
    transform: rotate(28deg);
    z-index: 1;
}